@model IEnumerable<PfitBlogApplication.Models.Time>
@Styles.Render("~/Content/timeStyles.css")
@Styles.Render("~/Content/homeStyles.css");
@{
    ViewBag.Title = "Index";
}
<body style="background:#6297a9">
    <h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeId })
        </td>
    </tr>
}

</table>
    </body>
