@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

                <ul>
                    <li>@Html.ActionLink("Редактировать перевозчиков","control","org")</li>
                    <li>@Html.ActionLink("Ректировать маршруты","control","way")</li>
                    <li>@Html.ActionLink("Редактировать расписание","control","time")</li>
                    <li>@Html.ActionLink("Редактировать пользователей","index","user")</li>
                </ul> 

@Html.ActionLink("Просмотреть заказы","allorders","user")
