@model PfitBlogApplication.Models.Org

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Org</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountCar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountCar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountPeople)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountPeople)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneMTC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneMTC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneVelcom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneVelcom)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
